/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f4f4f4 !important;
}
a, a:hover{
  text-decoration: none !important;
}

.map-button{
  width:100%;
  display:block;
  height: auto;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color:#fff;
  padding:20px;
  margin: 0;
  font-weight:600;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  background-color: #333;
  border-color: black;
 }

#andrew-top{
    margin: 10px;
    background-color: white;
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
    box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
}

h2 {
  text-transform: uppercase;
  font-size: 22px !important;
  letter-spacing: 2px;
}

h4{
  font-size: 14px !important;
}

 .fa{
   transition: all .25s ease;
   float: right;
 }

.table-popular{
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

 .open {
  transform: rotate(45deg);
  transition: all .25s ease;
}

#legend {
  background: #fff;
  padding: 10px;
  margin: 20px;
  border: 1px solid #000;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
  box-shadow: 0px 0px 20px 0px rgba(31,31,31,0.3);
}

#legend-name{
  text-align: center;
  text-transform: uppercase;
  background-color: #222;
  color: white;
  font-size: 22px;
}

#legend-items, #legend-name{
  padding: 10px;
}

.table{
  margin: 20px !important;
}

input[type=submit] {
  background-color: #222;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=text] {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
}
