/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 75%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a, a:hover{
  text-decoration: none !important;
}

.map-button{
  width:100%;
  display:block;
  height: auto;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color:#fff;
  padding:10px 0px;
  font-weight:600;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  background-color: #333;
  border-color: black;
 }

 .fa{
   float: right;
 }
