/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  margin: 30px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


a, a:hover{
  text-decoration: none !important;
}

.map-button{
  width:100%;
  display:block;
  height: auto;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color:#fff;
  padding:20px;
  margin: 0;
  font-weight:600;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  background-color: #333;
  border-color: black;
 }

#andrew-top{
    margin: 10px;
}
 .fa{
   transition: all .25s ease;
   float: right;
 }


 .open {
  transform: rotate(45deg);
  transition: all .25s ease;
}
